.HireMe {
  text-align: center;
 
   
  min-height: 50vh;
  display: flex;
  align-items: center;
  justify-content: center;

  position: relative;
  overflow: hidden;
  @media only screen and (max-width: 440px) {
    background: #357edd;
  }

    &:after{
      content: "";
      background-color: #111111;
      position: absolute;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
      transform: scaleY(0.8) scalex(-1.2) skew(5deg, 5deg);
    box-shadow: 0 0 10px #111111;
    }
    &:before {
      content: "";
      background-color: #357edd;
      position: absolute;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
      transform: scaleY(.8) scalex(1) skew(3deg, 2deg);
  }
}
